@use "sass:color";
@import "./vars.scss";

// Base styles
body {
    font-family: 'Courier New', Courier, monospace;
    color: $text_white;
    font-size: 1.2em;

    background-color: $background_main;
    margin: 0;

    * {
        @include text-glow();
    }

    scrollbar-color: $button_text $background_main;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
}

// Credit for this retro effect style: https://codepen.io/lbebber/pen/XJRdrV/
.retro-fx::before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    // first gradient: line segments; second gradient: pixels
    background: linear-gradient(color.adjust($background_scanlines, $alpha: -0.8) 50%,
        color.adjust($background_scanlines, $alpha: -0.98) 50%),
    linear-gradient(90deg, color.adjust(#ff0000, $alpha: -0.94),
        color.adjust(#00ff00, $alpha: -0.98),
        color.adjust(#0000ff, $alpha: -0.94));
    background-size: 100% 3px, 6px 100%;

    z-index: 1;
    pointer-events: none;
}

main {
    display: flex;
    flex: 1 1;
    border-top: 4px solid $border_main;
    border-bottom: 4px solid $border_main;
    max-height: calc(100vh - 108px);
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;

    font-family: inherit;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 3px;
    color: $button_text;
    padding: 0 10px;
    transition: color 0.14s ease-out;
    
    @include hover-blink-anim("button_hover", "color", $button_text, $button_text_highlight);

    &.b_sel:enabled {
        color: $button_text_active;
    }
    &.b_sel:disabled {
        color: darken($color: $button_text_active, $amount: 20);
    }

    &:hover:enabled {
        animation: button_hover 0.25s step-end;
        animation-fill-mode: forwards;
    }
    &:disabled {
        color: $button_text_disabled;
        transition: color 0.14s ease-out;
    }
}

a {
    color: $button_text_base_link;
    text-decoration: underline;
    text-underline-offset: 4px;
    font-weight: bold;

    @include hover-blink-anim("link_hover", "color", $button_text, $button_text_link);

    &:hover {
        animation: link_hover 0.25s step-end;
        animation-fill-mode: forwards;
    }
}


// Layout styles
header {
    display: flex;
    width: 100%;
    flex: 0 1;
    height: 50px;

    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    
    h1 {
        flex: 6;
        justify-self: flex-start;

        margin: 0 0 0 8px;
        height: inherit;
    }

    a {
        max-width: max-content;
        display: block;
        margin: 0 4px 0 0;
        font-size: 1.4rem;
    }

    p#clock {
        display: flex;
        box-sizing: border-box;
        align-items: center;

        margin: 0;
        padding: 0 4px 0 4px;
        height: inherit;
        border-left: 4px solid $border_main;
        border-right: 4px solid $border_main;
    }
}

div#language_option_container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}



footer {
    flex: 0 1;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
        margin: 2px 0;
        color: $text_low_contrast;
    }
}