@import "./vars.scss";


// Main content
main h2 {
    margin: 0;
    padding: 2px 8px;
    display: block;
    font-size: 1.4rem;

    background-color: $background_dark;
}

div#chat_window {
    flex: 5;
    display: block;
    position: relative;
}

div#channel_window {
    flex: 0;
    display: block;
    min-width: 300px;
    border-right: 4px solid $border_main;
}

// Channel container and channel elements


// Chat container and chat elements
div#chat {
    display: block;
    overflow: hidden auto;
    max-height: calc(100% - 30px); //Still broken ffs
}

.chat_element {
    background-color: $background_dark;
    margin: 4px 0;
    padding: 2px 4px;
    border: none;

    display: flex;
    flex-wrap: nowrap;
}

.chat_element_author {
    color: $text_chat_author;
    display: flex;
    flex: 0 1 300px;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: center;

    p {
        margin: 2px 0;
    }

    .chat_time_style {
        color: $text_chat_time;
        font-size: 0.8rem;
        margin: 2px 0;
    }
}

.chat_element_content {
    color: $text_white;
    flex: 1;
    margin: 2px 0 2px 8px;
}



// Message input
div#message_input_container {
    display: flex;

    textarea#message_input {
        flex: 1;
        font-size: 1.1em;

        background-color: $background_dark;
        color: $text_white;
        border: 2px solid $border_main;
        border-radius: 6px;

        overflow: hidden auto;
        resize: none;
    }
}
