@import "./vars.scss";


// Main content
main {
    position: relative;
}

main h2 {
    margin: 0;
    padding: 2px 8px;
    display: block;
    font-size: 1.4rem;

    background-color: $background_dark;
}

div#chat_window {
    flex: 5;
    display: block;
}

div#channel_window {
    flex: 0;
    display: block;
    min-width: 300px;
    border-right: 4px solid $border_main;
}


// Chat container
div#chat {
    display: block;
    overflow: hidden auto;
    max-height: calc(100% - 80px);
}

.chat_element {
    background-color: $background_dark;
    margin: 4px 0;
    padding: 2px 4px;
    border: none;

    display: flex;
    flex-wrap: nowrap;
}

.chat_element_author {
    color: $text_chat_author;
    display: flex;
    flex: 0 1 300px;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: baseline;

    p {
        margin: 2px 0;
    }

    .chat_time_style {
        color: $text_chat_time;
        font-size: 0.9rem;
        margin: 2px 0;
    }
}

.chat_element_content {
    color: $text_white;
    flex: 1;
    margin: 2px 0 2px 8px;
}



// Message input
div#message_input_container {
    display: flex;
    height: 50px;

    textarea#message_input {
        display: block;
        box-sizing: border-box;
        margin: 0 0 2px 0;
        padding: 2px 4px;
        flex: 1;

        font-family: inherit;
        font-size: 1.1rem;

        outline: none;
        background-color: $background_dark;
        color: $text_white;
        border-top: 2px solid $border_main;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid $border_input;

        overflow: hidden auto;
        resize: none;

        @include hover-blink-anim("anim_border_bottom", "border-bottom-color", $border_input, $border_input_focus);

        &:focus {
            background-color: $background_input_focus;

            animation: anim_border_bottom 0.25s step-end;
            animation-fill-mode: forwards;
        }
    }

    button {
        box-sizing: border-box;
        background-color: $background_dark;

        margin-bottom: 2px;
        border-top: 2px solid $border_main;
        border-bottom: 2px solid $border_input;

        &:active:enabled {
            background-color: $background_input_focus;
        }
    }
}
