// Colors
$background_main: rgb(22, 23, 26);
$background_dark: rgb(12, 13, 15);
$background_scanlines: rgb(10, 10, 10);

$text_white: rgb(250, 250, 250);
$text_low_contrast: rgb(90, 90, 90);
$text_chat_author: rgb(20, 180, 0);
$text_chat_time: rgb(90, 90, 240);
$border_main: rgb(40, 41, 43);

$button_text: rgb(235, 235, 235);
$button_text_highlight: rgb(0, 250, 240);
$button_text_link: rgb(255, 208, 0);

// Mixins
@mixin hover-blink-anim($name, $baseColor, $blinkColor) {
    @keyframes #{$name} {
        0% { color: $blinkColor; }
        25% { color: $baseColor; }
        50% { color: $blinkColor; }
        75% { color: $baseColor; }
        100% { color: $blinkColor; }
    }
}

@mixin text-glow() {
    text-shadow: 0 0 3px, 0 0 15px;
}